.box {
    width: 400px;
    height: 400px;
    color: aliceblue;
    background-color: blueviolet;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    font-size: 50px;
}

.anime {
    animation: slidein 3s 6 alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}