body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    font-size: 40px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}