.image-box {
    width: 600px;
    height: 600px;
    background-image: url('dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 8px;
}

.anime {
    animation: move 15s ease-in;
}

@keyframes move {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}